<!DOCTYPE html>
<html>
  <head>
    <title>VueJS Course</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <!-- <div id="app" v-cloak>
      <p>{{ fullName }}</p>
      <p><a :href="url" target="_blank">Google</a></p>
      <p v-html="raw_url" />
      <p>{{ age }}</p>
      <hr />

      <label for="firstName">First Name</label>
      <input id="firstName" type="text" v-model.lazy.trim="firstName" />

      <label for="middleName">Middle Name</label>
      <input id="middleName" type="text" @keyup.enter="updateMiddleName" />

      <label for="lastName">Last Name</label>
      <input id="lastName" type="text" :value="lastName" @input.prevent="updateLastName($event, 'Last name event triggered')" />

      <label for="age">Age</label>
      <input type="number" id="age" v-model.number="age" />

      <button type="button" @click="increment">Increment</button>
      <button type="button" @click="age--">Decrement</button>
    </div> -->

    <!-- <div id="app2" v-cloak>
      {{ firstName }} {{ lastName }}
    </div> -->

    <!-- binding classes and styles -->
    <!-- <div id="app">
      <label>
        <input type="checkbox" v-model="isPurple" /> Purple
      </label>

      <select v-model="selectedColor">
        <option value="">White</option>
        <option value="text-black">Black</option>
        <option value="text-orange">Orange</option>
      </select>

      <input type="number" v-model="size" >

      <div
        class="circle"
        :class="[selectedColor, circle_classes]"
        :style="circle_styles"
      >
        Hi!
      </div>
    </div> -->

    <!-- conditional rendering -->
    <!-- <div id="app">
      <p v-if="mode == 1">Showing v-if directive content</p>
      <template v-else-if="mode == 2">
        <p>Bonus content</p>
        <h3> v-else-if</h3>
      </template>
      <p v-else="">v-else</p>

      <i v-show="mode == 1">v-show</i>

      <select v-model="mode">
        <option value="1">v-if</option>
        <option value="2">v-else-if</option>
        <option value="3">v-else</option>
      </select>
    </div> -->

    <div id="app">
      <ul>
        <li v-for="(bird, index) in birds" :class="bird" :key="bird">
          {{ bird }} - {{ index }}
        </li>
      </ul>

      <hr />

      <ul>
        <li v-for="person in people" :key="person.name">
          <div v-for="(value, key, index) in person">
            {{ key }}: {{ value }} - Index: {{ index }}
          </div>
        </li>
      </ul>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
  </body>
</html>
